# Database connection string
DATABASE_URL="postgresql://user:password@localhost:5432/guitar_learning_db?schema=public"
DIRECT_URL="postgresql://user:password@localhost:5432/guitar_learning_db?schema=public"

# Auth Secret (generate with `openssl rand -base64 32`)
AUTH_SECRET="your-32-char-random-auth-secret-here"
AUTH_URL="http://localhost:3000"

# Public App URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
